header{

    display:inline-flex;
    padding: 12px;
    background-color: var(--color4);
    width: 100%;
    max-height: 50px;
}
#logo{
    max-width:80px;
    max-height:60px;
    width: auto;
    height: auto;
}
.social-midia{
    width: 25px;
    height: 25px;
    float: right;
    padding: 10px;
    margin-left: 5px;
    
}
nav{
    width: 100%;
   max-width: 100%;
}

nav > img {
    margin-right: 12px;
}

nav > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
}

nav > a:hover{
    color: var(--color1);
}



