
section{
    height: 100vh;
    width: 100vw;
    padding-top: 62px;
}


.section-1 > img{
    height: 100vh;
    width: 100vw;
}

.padding-content{
    padding: 0 32px;
}

#conteudo{
    background-color: white;
}